.list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 100px;
}
.item {
  display: flex;
  width: 200px;
  height: 60px;
  align-items: center;
  box-shadow: 8px 11px 10px -6px rgba(0, 0, 0, 0.75);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.isOnline,
.isNotOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}
.isOnline {
  background-color: green;
}
.isNotOnline {
  background-color: red;
}
.avatar {
  border-radius: 10px;
  margin-right: 20px;
}
.item:hover {
  transform: scale(1.1);
}
